<div class="row" id="post-<%=post.id%>">
  <div class="col-md-12">
    <div class="post col-md-8 offset-md-2">
      <div class="header-post">
        <div class="post-author">
          <div class="avatar avatar-<%=rand(1..27)%>"></div>
          <div><%= post.user.username %></div>
          <%= link_to "Sign Out", post_path(post), data: { "turbo-method": :delete } %>
        </div>
        <div class="action-post">
          <% if current_user == post.user %>
            <div class="dot-post" data-controller="post">
              <p data-action="click->post#showEdit" data-post-id-param ="<%=post.id%>"
                data-post-show-param="false" data-post-target="show" data-post-url-param="<%=post_path(post)%>"
                class="text-end pointer">&#9675; &#9675; &#9675;</p>
              <span class="edit-post" data-post-target="output">
              </span>
            </div>
          <% end %>
          <%= format_created_at(post.created_at) %>
        </div>
      </div>
      <div class="post-body">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
        <div class="text-center mt-3">
          <% post.pictures.each do |image|%>
            <%= image_tag(image.picture_uri, :size => "360x200") if image.picture_uri && is_image(image.picture_type) %>
            <%= link_to(image.picture_name, image.picture_uri, target: :blank, class: "open-document") if image.picture_uri && !is_image(image.picture_type) %>
          <% end %>
        </div>
      </div>
      <div class="post-actions">
        <div class="like-container">
          <%= turbo_frame_tag "post-likes-#{post.id}" do %>
            <% if find_object_like(post).nil? %>
              <%= button_to "", likes_path, params: {likeable_type: "Post", likeable_id: post.id}, class:"post-actions-like"%>
            <% else %>
              <%= button_to "", likes_path, class: "post-actions-unlike", method: :delete, params: {likeable_type: "Post", likeable_id: post.id} %>
            <% end %>
          <% end %>
          <div id="post-likes-count-<%=post.id%>"><%= pluralize(post.likes.count, "like") %></div>
        </div>
        <div class="post-action-comments"><div id="post-comments-count-<%=post.id%>"><%= pluralize(post.comments.count, "comment") %></div></div>
      </div>
      <div class="post-comments">
        <div id="comment-form-<%=post.id%>">
          <%= render partial: "comments/form", locals: {post: post}%>
        </div>
        <div class="comments-list" id="post-comments-list-<%=post.id%>">
          <%= render partial: "comments/list", locals: {post: post}%>
        </div>
      </div>
    </div>
  </div>
</div>