<div class="post">
  <div class="header-post">
    <div class="post-author">
      <div class="avatar avatar-<%=rand(1..27)%>"></div>
      <div><%= post.user.username %></div>
    </div>
    <div><%= format_created_at(post.created_at) %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %></span>
  </div>
  <div class="post-actions">
    <div class="like-container">
      <%= turbo_frame_tag "post-likes-#{post.id}" do %>
        <% if find_object_like(post).nil? %>
          <%= button_to "", post_likes_path(post), class:"post-actions-like"%>
        <% else %>
          <%= button_to "", post_likes_path(post), class: "post-actions-unlike", method: :delete %>
        <% end %>
      <% end %>
      <div id="post-likes-count-<%=post.id%>"><%= pluralize(post.likes.count, "like") %></div>
    </div>
    <div class="post-action-comments"><div id="post-comments-count-<%=post.id%>"><%= pluralize(post.comments.count, "comment") %></div></div>
  </div>
  <div class="post-comments">
    <div id="comment-form-<%=post.id%>">
      <%= render partial: "comments/form", locals: {post: post}%>
    </div>
    <div class="comments-list" id="post-comments-list-<%=post.id%>">
      <%= render partial: "comments/list", locals: {post: post}%>
    </div>
  </div>
</div>
